* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: cornsilk;
    border: 5px solid black;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
}

.grid-items {
    border: 1px solid black;
}

.prompt {
    font-weight: bold;
    z-index: 5
    position: relative;
}

#box3, #box7, #box10, #box11, #box12, #box15 {
    border-left: solid 5px black;
}

#box1, #box2, #box3, #box4, #box5, #box8, #box9, #box10, #box11 {
    border-bottom: 5px solid black;
}

input {
    display: block;
    width:100%;
    height: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: min(10vw, 10vh);
    position: relative;
    top: -1.25rem;
}
input:hover, input:focus, input:active {
    background-color: lightblue;
    color: darkblue;
}

input:focus, input:active {
    background-color: white;
}